body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 850px;
    margin: 0 0 0 0;
}

.header {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    background: #394a6d;
}

.Title-one {
    text-align: inherit;
    display: flex;
    font-family: 'Calistoga', cursive;
    margin-left: 10px;
    color: #52de97;
}

.menu-right a {
    text-decoration: none;
    color: white;
    display: flex;
    margin: 5px;
}

.menu-right {
    text-align: inherit;
    display: flex;
    text-decoration: none;
}

.navigation {
    background-color: #3c9d9b;
    height: 850px;
    margin: 0 auto;
}

.footer {
    background-color: #394a6d;
    height: 70px;
    margin-top: 0;
    align-items: center;
    display: flex;
}

.footer p,
        a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    margin-left: 5px;
    display: flex;
}


header {
    height: 70px;
    width: auto;
}