body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 850px;
    margin: 0 0 0 0;
}

.header {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    background: #394a6d;
}

.Title-one {
    text-align: inherit;
    display: flex;
    font-family: 'Calistoga', cursive;
    margin-left: 10px;
    color: #52de97;
}

.menu-right a {
    text-decoration: none;
    color: white;
    display: flex;
    margin: 5px;
}

.menu-right {
    text-align: inherit;
    display: flex;
    text-decoration: none;
}

.section {
    height: 850px;
    margin: 0;
    background-color: #3c9d9b;
}

.navigation {
    display: flex;
    align-items: center;
    text-align: center;
}

.somos {
    font-family: 'Bitter', serif;
    font-size: 50px;
    align-items: inherit;
    text-align: inherit;
    border: 2px solid #394a6d;
    border-radius: 15px;
    background-color: #3c9d9b;
    height: 80px;
    margin-top: 20px;
    margin-left: 416.5px;
    background-color: white;
}

.footer {
    background-color: #394a6d;
    height: 70px;
    margin-top: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.foot p,
      a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    margin-left: 5px;
    display: flex;
}

.foot2 a {
    color: white;
    align-items: flex-end;
    margin-right: 8px;
}


header {
    height: 70px;
    width: auto;
}
